.vs/
CS.Common/bin/
CS.Common/obj/
CS.API/obj/
CS.API/bin/
/CS.ViewModel/obj
/CS.ViewModel/bin/
/CS.Middleware/obj
/CS.Middleware/bin/
/CS.Implements/obj
/CS.Implements/bin/
/CS.DI/obj
/CS.DI/bin/
/CS.Configuration/obj
/CS.Configuration/bin/
/CS.Abstractions/bin/
/CS.Abstractions/obj
/CS.Base/bin/
/CS.Base/obj
/CS.EF/bin/
/CS.EF/obj/
/CS.EF.Design/bin/
/CS.EF.Design/obj
*.user
.idea/
CS.SignalRClient/bin/
CS.SignalRClient/obj/
/CS.API/wwwroot/uploads/
/CS.Helper/bin/
/CS.Helper/obj/
/TEK.Gateway.Domain/obj
/TEK.Gateway.Domain/bin
/TEK.Gateway.FPT/bin
/TEK.Gateway.FPT/obj
/TEK.Bank.Domain/bin
/TEK.Bank.Domain/obj
/TEK.Bank.VCB/bin
/TEK.Bank.VCB/obj
/TEK.Payment.Core/bin
/TEK.Payment.Core/obj
/TEK.Payment.Domain/bin
/TEK.Payment.Domain/obj
/TEK.Auth.API/obj
/TEK.Auth.API/bin
/TEK.Auth.Domain/bin
/TEK.Auth.Domain/obj
/TEK.Authorization.API/bin
/TEK.Authorization.API/obj
/TEK.Email/bin
/TEK.Email/obj
/TEK.Domain.VCB/bin
/TEK.Domain.VCB/obj
/TEK.Core/bin
/TEK.Core/obj
/TEK.Core.Service/bin
/TEK.Core.Service/obj
/TEK.Core.UoW/bin
/TEK.Core.UoW/obj
/TEK.1081.Core/obj
/TEK.Payment.Core.Admin/obj
*.pubxml
/TEK.Payment.Core.Tests/bin
/TEK.Payment.Core.Tests/obj
/Signature.API/bin
/Signature.API/obj/
/Signature.Domain/bin
/Signature.Domain/obj/
/Core.Base/bin/
/Core.Base/obj/
/Core.Common/bin/
/Core.Common/obj/
/Core.Configuration/bin/
/Core.Configuration/obj/
/Core.EF/bin
/Core.EF/obj/
/Core.Email/bin/
/Core.Email/obj/
/Core.Helper/bin
/Core.Helper/obj/
/Core.Middleware/bin/
/Core.Middleware/obj/
/Core.UoW/bin/
/Core.UoW/obj/
/CS.Base/obj
/CS.Base/bin/
/CS.Configuration/obj/
/CS.Configuration/bin/
/CS.EF/obj
/CS.EF/bin/
/Key.API/bin/
/Key.API/obj/
/Signature.API/wwwroot/export/*.pdf
/Signature.API/*.pdf
wwwroot/export/*.pdf
wwwroot/export/*.txt
/ViettelFileSigner/obj/
/ViettelFileSigner/bin/
/MySign.Domain/bin/
/MySign.Domain/obj/
*.txt
*.log
.env
postgres_data/
/Signature.API/8668d87d-7d47-4375-a094-76b9e7237a1d
/Configuration/bin/
/Configuration/obj/
/SMS.API/bin/
/SMS.API/obj/
/Sms.Domain/bin/
/Sms.Domain/obj/
*.tmp
/Core.SMS/obj/
/Core.SMS/bin/
Core.Infra/obj/
Core.Infra/bin/
.DS_Store
*.cer
